.image-gallery {
    width: 60%;
    
}

.image-gallery-slide img {
    width: 50%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
    overflow: hidden;
    object-position: center center;
}

.photo {
    height: 200px;
    width: 200px;
  }